<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Consultar Salario</title>
    <link th:href="@{/styles/global.css}" rel="stylesheet">
</head>
<body>

<header>
    <h1>Consultar Salario de un Empleado</h1>
</header>

<main>
    <section class="form-container">

        <form th:action="@{/nominas/consultarSalario}" method="post" class="form-dark">

            <label for="dni">Introduce el DNI del empleado:</label>
            <input type="text" id="dni" name="dni" required placeholder="Ej: 11111111A" maxlength="9">

            <input type="submit" value="Consultar salario" class="btn">
        </form>

        <div class="acciones">
            <a th:href="@{/}" class="btn-secundario">Volver</a>
        </div>

    </section>
</main>

<footer>
    <p>© 2025 Gestión de Nóminas</p>
</footer>

</body>
</html>
